<a href="https://colab.research.google.com/github/parthpanchal2402/Coursera_Capstone/blob/master/SC_toronto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Segmenting and Clustering Neighborhoods in Toronto###


This notebook is for the Week 3's assignment Segmenting and Clustering Neighborhoods in Toronto.

In [0]:
import requests
import folium

import numpy as np
import pandas as pd

import matplotlib.cm as cm
import matplotlib.colors as colors

from pandas.io.json import json_normalize
from geopy.geocoders import Nominatim
from sklearn.cluster import KMeans
from bs4 import BeautifulSoup

In [2]:
#Reading data
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', na_values = 'Not assigned', flavor = 'html5lib')
print(type(df[0]))
df = df[0]

<class 'pandas.core.frame.DataFrame'>

In [0]:
#Checking columns
df.columns
df.rename({0: 'Postcode', 1: 'Borough', 2: 'Neighbourhood'}, axis = 'columns', inplace = True)

##Pre-processing data##

In [4]:
#Dealing with NaN's
print(df.isnull().sum())
df.drop(df.index[0], inplace = True)
df.dropna(axis = 0, inplace = True)
print(df.isnull().sum())
df.head()

Postal code      0
Borough         77
Neighborhood    77
dtype: int64
Postal code     0
Borough         0
Neighborhood    0
dtype: int64

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [5]:
#Checking number of boroughs and neighbourhoods
print('The dataframe has {} boroughs and {} neighbourhoods.'.format(

len(df['Borough'].unique()),

len(df['Neighborhood'].unique())))
#Printing shape

print(df.shape)
df.to_csv('Toronto_df.csv')

The dataframe has 10 boroughs and 98 neighbourhoods.
(103, 3)